<div class='bgm_top'>
<div class="work-break">
   <span class='work-break-text'>BGM</span>
  </div>
    <%= link_to(root_path, class: 'drink-btn') do %>
      <span class='drink-btn-text'>戻る</span>
    <%end%>
</div>