<div class='drink-countents'>
  <div class="dorink-calam">
   <span class='drink-page'>ドリンクページ</span>
  </div>
    <%= link_to( works_break_path, class: 'drink-btn') do %>
      <span class='drink-btn-text'>おすすめドリンク</span>
    <%end%>
</div>