<div class='works-new-countents'>
   <span >edit</span>


<%= button_to "ちょっと休憩",{controller:"breaks",action:"create"},{method: :post,class: 'break-btn',params: {work_id: params[:id]}} %>

  <div class="now-work">
   <span class='now-work-text'>作業中</span>
  </div>

    <%= link_to(works_bgm_path, class: 'bgm-btn') do %>
      <span class='bgm-btn-text'>BGM</span>
    <%end%>
    <%= button_to "今日の作業を終わる",work_path(params[:id]),{method: :patch,class: 'end-btn',params: {work_time: 1,id: params[:id]}} %>

  <%= @array%>
  <%# @break.break_start_time.each do |start| %>
    <%#= @break.start_time%>
  <%# end %>


</div>
