  <div class="now-work">
      <span class='now-work-text'>作業中</span>
  </div>
<div class= 'center'>
  <div class='works-new-countents'>
   <div class= 'work_right_second'>
            <div class= 'buttonposi'>
             <%= button_to "ちょっと休憩",{controller:"breaks",action:"create"},{method: :post,class: 'break-btn',params: {work_id: params[:id]}} %>
         <%= button_to "今日の作業を終わる",works_evaluation_path,{method: :get,class: 'end-btn',params: {id: params[:id]}} %>

                 </div>
       </div>
        <div class = 'work_reft_second'>
         <div class = 'reft_center'>

             <%#= link_to(works_bgm_path, class: 'bgm-btn-second') do %>
            <%#  <span class='bgm-btn-text'>BGM</span>
                       
            <%end%>
            </div>
        </div>
   </div>
</div>
