<div class= 'main'>
  <div class='toppage'>
    <%= link_to(root_path, class: 'mypage-btn') do %>
    <span class='mypage-btn-text'>マイページ</span>
    <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <%end%>
        <%= link_to(root_path, class: 'logout-btn') do %>
    <span class='logout-btn-text'>ログアウト</span>
    <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <%end%>
    <%= link_to(new_work_path, class: 'work-btn') do %>
    <span class='work-btn-text'>作業開始！</span>
    <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <%end%>



    </div>
  </div>
</div>