<div class='works-new-countents'>
<% if params[:start_time] == nil %>
<%= button_to "作業開始！",{controller:"works",action:"create"},{method: :post,class: 'work-btn',id: "work_start"} %>
<%#= button_to "作業開始！",{controller:"works",action:"create"},{method: :post,class: 'work-btn',params:{start_time: Time.zone.now.to_i}} %>

<%end%>


    <%= link_to(works_bgm_path, class: 'bgm-btn') do %>
      <span class='bgm-btn-text'>BGM</span>
    <%end%>

  <%= link_to( new_user_registration_path,class: 'sinin-btn') do %>
      <span class='sinin-btn-text'>サインイン</span>
    <%end%>
      <%= link_to(new_user_session_path, class: 'session-btn') do %>
      <span class='session-btn-text'>ログイン</span>
    <%end%>



</div>