<div class='works-new-countents'>
  <div class="now-work">
   <span class='now-work-text'>作業中</span>
  </div>
    <%= link_to( works_break_path, class: 'break-btn') do %>
      <span class='break-btn-text'>ちょっと休憩</span>
    <%end%>
</div>