<div class = 'works-end-countents'>
   <span class='work-end-text'>お疲れ様でした！</span>
   <div class = 'work_time'>
  <br>今日の作業時間は
  <%=@t%><a>でした</a>
  <br>休憩時間は<%=@array%><a>です！</a>
  <br>また明日もがんばりましょう！
    </div>
          <%= link_to("http://localhost:3000", class: 'root-btn', data: {"turbolinks" => false}) do %>
      <span class='root-btn-text'>ホームに戻る</span>
    <%end%> 

</div>