
.now-work {
  display: flex;
  height: 8vh;
  text-align: center;
  padding: 30px;
  background: #d81111;
  justify-content: center;
}

.now-work-text {
  justify-content: center;
  align-items: center;
  color: #13b45c;
  display: flex;
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 5px;
}
.buttonposi{
  display: flex;
align-items: center;
}
.work_right_second{
  width: 70vw;
    height: 90vh;
    background: #f5f59e;
    /* display: flex; */
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.work_reft_second{
  width: 30vw;
  height: 90vh;
  background: #e3f0d1;
  display: flex;
  align-items: center;
  /*padding:25vh 0 ;*/
  justify-content:left;

}
.reft_center{
}
.bgm-btn-second {
  color: #fff;
  width: 30%;
  background: #e45821d0;
  text-align: center;
  border-radius: 4%;
  margin: 5% 5% 0 10%;
  padding: 15% 20%;
  font-size: 30px;
  text-decoration: none;
}

.break-btn {
  width: 80%;
  height: 70%;
  background: #f3ec1a;
  text-align: center;
  border-radius: 4%;
  padding: 15%;
  font-size:30px;
  margin: 5% 10% 10% 10%;
  align-items: center;
  
}

.break-btn-text {
  color: #b41399;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.center{
  display: flex;
  
}
.end-btn {
  background: #e07007;
  text-align: center;
  font-size: 30px;
  border-radius: 4%;
  padding: 45% 20%;
  margin: 10% 10% 30% 10%;
}

.end-btn-text {
  color: #f7f3f1;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

