
.work-end {
  width: 120px;
  background: #e07007;
  text-align: center;
  border-radius: 4%;
  bottom: 450px;
  right: 132px;
  position: fixed;
  padding: 30px;
}

.work-end-text {
  color: #f7f3f1;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}